.App {
  text-align: center;
  max-width: 900px;
  margin: 50px auto;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.todo_input {
  background-color: aquamarine;
  border-radius: 10px;
}
form {
  display: flex;
  justify-content: center;
  gap: 18.75px;
  padding: 0 9.375px;
  margin-bottom: 21.44px;
}
.task_input {
  width: 300px;
  height: 35px;
}
input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
}
.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.regular-task-container,
.important-tag,
.important-completed-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.regular-task-container {
  background-color: orangered;
  border-radius: 10px;
}
.important_completed_task {
  text-decoration: line-through;
  background-color: skyblue;
  border-radius: 10px;
}
.important-tag {
  background-color: skyblue;
  border-radius: 10px;
}
.task {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-weight: 500;
  column-gap: 10px;
  align-items: center;
}
.task p {
  display: flex;
  justify-content: start;
}
.task button {
  justify-self: center;
}
.important_task {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  font-weight: 500;
  /* justify-items: center; */
  align-items: center;
}
.important_task p {
  display: flex;
  justify-content: flex-start;
}
.important_task button {
  justify-self: center;
}
ul {
  list-style: none;
  padding-left: 0;
  width: 650px;
}
li {
  margin-bottom: 10px;
}
.completed_task {
  text-decoration: line-through;
  background-color: orangered;
  border-radius: 10px;
}
